.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1.2rem;
}
.dialog {
  min-height: 40rem;
  min-width: 50rem;
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 1.6rem;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: stretch;
}
.button {
  margin-top: 1.2rem;
  border: none;
  outline: none;
  background-color: #e09b04;
  color: white;
  border-radius: 0.4rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #d18c04;
}
.button:active {
  background-color: #c27d04;
}
